.wrapper {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.icon {
    margin: 0 15px;
    font-size: 2em;
}

.facebook {
    color: #1877f2;
}

.instagram {
    color: #c13584;
}

.tiktok: {
    color: #69c9d0; 
}
}

.tooltip {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}