body{
	background-image: url('missa3.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-blend-mode: multiply;
	background-size:cover;
	

}